# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
backend/.env
#database
docs/gitaData.json
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env/

# ML artifacts (optional)
ml_model/__pycache__/
ml_model/.env

# OS
.DS_Store
Thumbs.db
