# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
#frontend
frontend/node_modules/
#backend
backend/node_modules/

# Environment variables & local fallback DB
.env
backend/.env
backend/data/*.json
!backend/data/canonicalGitaData.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env/

# ML artifacts (optional)
ml_model/__pycache__/
ml_model/.env

# OS
.DS_Store
Thumbs.db
